WPFFudbal/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53298/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" />
  <xs:element name="IgracList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IgracListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="IgracListResult" nillable="true" type="q1:ArrayOfvwIgrac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TimListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="TimListResult" nillable="true" type="q2:ArrayOfvwTim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LigaList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LigaListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="LigaListResult" nillable="true" type="q3:ArrayOfvwLiga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KategorijaList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KategorijaListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="KategorijaListResult" nillable="true" type="q4:ArrayOfvwKategorija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NacionalnostList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NacionalnostListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="NacionalnostListResult" nillable="true" type="q5:ArrayOfvwNacionalnost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IgracAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="igrac" nillable="true" type="q6:vwIgrac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IgracAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="IgracAddResult" nillable="true" type="q7:vwIgrac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="tim" nillable="true" type="q8:vwTim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="TimAddResult" nillable="true" type="q9:vwTim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LigaAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="liga" nillable="true" type="q10:vwLiga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LigaAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="LigaAddResult" nillable="true" type="q11:vwLiga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KategorijaAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="kategorija" nillable="true" type="q12:vwKategorija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KategorijaAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="KategorijaAddResult" nillable="true" type="q13:vwKategorija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NacionalnostAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="nacionalnost" nillable="true" type="q14:vwNacionalnost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NacionalnostAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="NacionalnostAddResult" nillable="true" type="q15:vwNacionalnost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IgracBrisanje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IgracBrisanjeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TimBrisanje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimBrisanjeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KategorijaBrisanje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KategorijaBrisanjeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NacionalnostBrisanje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NacionalnostBrisanjeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LigaBrisanje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LigaBrisanjeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneIgrac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneIgracResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="GetOneIgracResult" nillable="true" type="q16:vwIgrac" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneKategorija">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneKategorijaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="GetOneKategorijaResult" nillable="true" type="q17:vwKategorija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneliga">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneligaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="GetOneligaResult" nillable="true" type="q18:vwLiga" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneNacionalnost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneNacionalnostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="GetOneNacionalnostResult" nillable="true" type="q19:vwNacionalnost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneTim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneTimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="GetOneTimResult" nillable="true" type="q20:vwTim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="composite" nillable="true" type="q21:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCFSERVICEFSS" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q22:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>